# Configuración para app.ts
PORT=
SECRET_KEY=
ADMIN_EMAIL=
ADMIN_PASS=
FRONTEND_URL=
NODE_ENV= # development / production

# Configuración de Base de Datos
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Configuración de MikroORM
DB_DEBUG= # Muestra querys en consola (true o false)